.languageSection{
    overflow: hidden;
    background-color: var(--color-red);
}
.title{
    position: relative;
    color: #fff;
}
.title img{
    position: absolute;
    top: -1vw;

    width: 14.58vw;
}

.card{
    transform: translateY(100%);
    cursor: pointer;
    width: 20.83vw;
    height: 10.42vw;
}
.card img{
    width: 20.72vw;
}
.divCard{
    overflow: hidden;
    /* background-color: blue; */
    pointer-events: none;
}

.containerCards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}